@media(max-width : 900px)  {
    .slide-banner, .nav-menu-left,.content-page{
        width: 100%;
    }
    .content-page{
        padding-left: 0px;
    }
    .menu-active{
        height: 50px;
        padding: 8px;
    }
    .menu-active span{
        color: #ffffff;
        display: block;
        font-family: "GothamNarrow-Bold";
        font-size: 22px;
        line-height: 39px;
        margin: 0;
        text-transform: uppercase;
        text-align: left;
        padding-left: 22px;
    }
.menu-active span.menuicon{
        background: url('../images/menuicon.png') no-repeat scroll;
        float: right;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 20px;
        width: 30px;
        padding-left: 0;
    }
}
@media(max-width : 480px)  {

    .slide-banner, .nav-menu-left,.content-page{
        width: 100%;
    }
    .content-page{
        padding-left: 0px;
    }
    .price{
        width: 100%;
        float: none;
    }
    .action-buy{
        margin: 0px auto;
        float: none;
        margin-top: 20px;
    }
    .container{
        padding:0;
    }
    .right_banner{
        width: 100%;
    }
    .top_right{
        width: 100%;
    }
    .top_right ul{
        padding: 0;
        float: left;
    }
    .top_right ul li:last-child{
        display: none;
    }
    .bottomTop{
        position: relative;
    }
    .basket{
        right: 2px;
        bottom: 0;
    }
    .top_right ul li.li-shipping{
        border-right: none;
    }

}